body{
    background-color: #0A0C1C;
    font-size: 15px;
}

.card{
    background-color: #1B1937;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    position:absolute;
    width: 1110px;
    height: 446px;
    left: 165px;
    top: 177px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#textcol{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 82px;
}

.title{
    color: hsl(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
}

.insights{
    color: #AB5CDB;
}

.description{
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 60px;
    margin-right: 80px;
    line-height: 1.45rem;
}

#statsrow{
    margin-top: 20px;
}

.statheading{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

.statcaption{
    color:hsla(0, 0%, 100%, 0.6);
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
}

.headerimg{
    opacity: 0.5;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#imgarea{
    background: url(images/image-header-desktop.jpg);
    background-size: cover;
    position: relative; 
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background: #AB5CDB;
    mix-blend-mode: multiply;
}